<% content_for :header do %>
  <%= render partial: 'layouts/app_header' %>
<% end %>
<div class="lists">
  <% current_user.lists.each do |list| %>
    <%= render partial: 'list', locals: { list: list } %>
  <% end %>
</div>
<div class="actions">
  <%= link_to t('.create'), new_list_path, class: 'btn btn-default' %>
</div>
