@import "variables";

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font--default;
  background: $colours--background;
  color: $colours--font-colour--default;
}

a {
  color: $colours--font-colour--default;
  text-decoration: underline;
}
