@import "bootstrap/variables";
@import "bootstrap/mixins";

// the splash page actually uses the full page height of the device in question
body.body--home--index {
  height: 100%;
}

.intro {
  margin-top: 120px;
}

.hero {
  @include make-row();
  > .wrapper {
    text-align: center;
    @include make-xs-column(12);
    .catchy {
      font-size: 32px;
    }
  }
}

.options {
  @include make-row();
  margin-top: 32px;
  > .wrapper {
    text-align: center;
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-sm-column-offset(2);
    @include make-md-column(6);
    @include make-md-column-offset(3);
  }

  .form-control {
    height: 48px;
  }
}

.logo {
  text-align:center;
  svg {
    @media (max-width: $screen-sm-min) {
      width: 400px;
    }
    @media (max-width: $screen-xs-max) {
      width: 300px;
    }
  }
}
