// a collection of variables to be used globally and exclusively fot colours, paddings, etc.

$font--default: 'Open Sans Condensed', sans-serif;
$font--font-weight--default: normal;
$font--font-weight--bold: bold;

// colours
$colours--background: #000;
$colours--font-colour--default: #fff;

// paddings
$padding--default: 8px;

// margins
$margin--default: 8px;
