// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap/mixins';
@import 'bootstrap/variables';
@import 'variables';

.list {
}

.movies {
  @include make-row();
  //list-style: none;


  > .movie {
    @include make-xs-column(12);
    @include make-sm-column(3);
    @include make-md-column(3);
    @include make-lg-column(2);

    margin: $margin--default;
    text-align: center;

    .poster {
      margin: 0 auto;
    }
  }
}
